### strip split contains replace get_dummies

In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['A','b','B','gaer','AGER',np.nan])
s

0       A
1       b
2       B
3    gaer
4    AGER
5     NaN
dtype: object

In [2]:
s.str.lower()

0       a
1       b
2       b
3    gaer
4    ager
5     NaN
dtype: object

In [3]:
s.str.upper()

0       A
1       B
2       B
3    GAER
4    AGER
5     NaN
dtype: object

In [4]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

In [5]:
index = pd.Index(['  tang','  yu   ','di'])
index

Index(['  tang', '  yu   ', 'di'], dtype='object')

In [6]:
index.str.strip() # 去除空格

Index(['tang', 'yu', 'di'], dtype='object')

In [7]:
index.str.lstrip() # 去除左边空格

Index(['tang', 'yu   ', 'di'], dtype='object')

In [8]:
index.str.rstrip() # 去除右边空格

Index(['  tang', '  yu', 'di'], dtype='object')

In [11]:
df = pd.DataFrame(np.random.randn(3,2),columns = ['A a','B b'],index = range(3))
df

        A a       B b
0  0.599460  0.518233
1  0.443506 -0.451376
2  0.032106 -1.394171

In [12]:
df.columns = df.columns.str.replace(' ','_')

In [13]:
df

        A_a       B_b
0  0.599460  0.518233
1  0.443506 -0.451376
2  0.032106 -1.394171

In [14]:
s = pd.Series(['a_b_C','c_d_e','f_g_h'])
s

0    a_b_C
1    c_d_e
2    f_g_h
dtype: object

In [15]:
s.str.split('_') # 分割

0    [a, b, C]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [16]:
s.str.split('_', expand=True) # 分割并展开 展开是指将分割后的数据分别放在不同的列中

   0  1  2
0  a  b  C
1  c  d  e
2  f  g  h

In [17]:
s.str.split('_', expand=True, n=1) # 分割并展开，n=1表示分割一次

   0    1
0  a  b_C
1  c  d_e
2  f  g_h

In [20]:
s.str.rsplit('_', expand=True, n=1) # split 也分左右

     0  1
0  a_b  C
1  c_d  e
2  f_g  h

In [21]:
s = pd.Series(['A','Aas','Afgew','Ager','Agre','Ager'])

In [22]:
s

0        A
1      Aas
2    Afgew
3     Ager
4     Agre
5     Ager
dtype: object

In [23]:
s.str.contains('Ag') # 判断是否包含

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [24]:
s = pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [30]:
s.str.get_dummies(sep='|') # 将字符串拆分成布尔值
# get_dummies()函数的作用是将类别变量转换为指示变量（哑变量）
# 例如：a|b|c 会被转换为a b c三列，如果包含a则为1，否则为0
# sep参数表示分隔符  例如：sep='|'表示以|为分隔符

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1

In [27]:
s = pd.Series(['a|o|c','b|o|y','c|n|c','d|o|g'])
s

0    a|o|c
1    b|o|y
2    c|n|c
3    d|o|g
dtype: object

In [28]:
s.str.get_dummies(sep='|')

   a  b  c  d  g  n  o  y
0  1  0  1  0  0  0  1  0
1  0  1  0  0  0  0  1  1
2  0  0  1  0  0  1  0  0
3  0  0  0  1  1  0  1  0