### isin where query

In [1]:
import pandas as pd
import numpy as np

In [8]:
s = pd.Series(np.arange(5),index = np.arange(5)[::-1],dtype='int64')
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [9]:
s.isin([1,3,4]) # 判断是否在列表中

4    False
3     True
2    False
1     True
0     True
dtype: bool

In [10]:
s[s.isin([1,3,4])] # 返回在列表中的值

3    1
1    3
0    4
dtype: int64

In [11]:
s2 = pd.Series(np.arange(6), index=pd.MultiIndex.from_product([[0,1],['a','b','c']]))
# 生成多层索引 MultiIndex.from_product 生成笛卡尔积
s2

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int32

In [12]:
s2.iloc[s2.index.isin([(1,'a'),(0,'b')])]

0  b    1
1  a    3
dtype: int32

In [13]:
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [14]:
s[s>2]

1    3
0    4
dtype: int64

In [19]:
dates = pd.date_range('20171124', periods=8) # 生成时间序列 periods 生成时间长度

In [20]:
df = pd.DataFrame(np.random.randn(8,4), index=dates, columns=['A','B','C','D'])

In [21]:
df

                   A         B         C         D
2017-11-24  0.165339  0.880516 -0.729624 -0.870105
2017-11-25 -1.409829  0.618327  1.366328 -1.040293
2017-11-26  0.351443 -0.938847  1.202571  1.910891
2017-11-27 -0.736230  0.197144 -0.873116 -0.953314
2017-11-28 -0.317645  0.517722  0.047912  0.228368
2017-11-29  0.013609  2.293201  0.862038  0.353532
2017-11-30 -0.282952 -0.140349 -0.363652  0.929815
2017-12-01 -0.720306 -0.257747  0.278204 -0.199445

In [27]:
# 使用 loc 方法选择列名为 'A' 的列
result = df.loc[:, df.columns == 'A']
print(result)

                   A
2017-11-24  0.165339
2017-11-25 -1.409829
2017-11-26  0.351443
2017-11-27 -0.736230
2017-11-28 -0.317645
2017-11-29  0.013609
2017-11-30 -0.282952
2017-12-01 -0.720306

In [23]:
df.where(df < 0) # 将不满足条件的值替换为 NaN

                   A         B         C         D
2017-11-24       NaN       NaN -0.729624 -0.870105
2017-11-25 -1.409829       NaN       NaN -1.040293
2017-11-26       NaN -0.938847       NaN       NaN
2017-11-27 -0.736230       NaN -0.873116 -0.953314
2017-11-28 -0.317645       NaN       NaN       NaN
2017-11-29       NaN       NaN       NaN       NaN
2017-11-30 -0.282952 -0.140349 -0.363652       NaN
2017-12-01 -0.720306 -0.257747       NaN -0.199445

In [25]:
df.where(df < 0, -df) # where 为真则保留，否则替换

                   A         B         C         D
2017-11-24 -0.165339 -0.880516 -0.729624 -0.870105
2017-11-25 -1.409829 -0.618327 -1.366328 -1.040293
2017-11-26 -0.351443 -0.938847 -1.202571 -1.910891
2017-11-27 -0.736230 -0.197144 -0.873116 -0.953314
2017-11-28 -0.317645 -0.517722 -0.047912 -0.228368
2017-11-29 -0.013609 -2.293201 -0.862038 -0.353532
2017-11-30 -0.282952 -0.140349 -0.363652 -0.929815
2017-12-01 -0.720306 -0.257747 -0.278204 -0.199445

In [26]:
df.where(df < 0, 999)  # where 为真则保留，否则替换

                     A           B           C           D
2017-11-24  999.000000  999.000000   -0.729624   -0.870105
2017-11-25   -1.409829  999.000000  999.000000   -1.040293
2017-11-26  999.000000   -0.938847  999.000000  999.000000
2017-11-27   -0.736230  999.000000   -0.873116   -0.953314
2017-11-28   -0.317645  999.000000  999.000000  999.000000
2017-11-29  999.000000  999.000000  999.000000  999.000000
2017-11-30   -0.282952   -0.140349   -0.363652  999.000000
2017-12-01   -0.720306   -0.257747  999.000000   -0.199445

In [41]:
df = pd.DataFrame(np.random.rand(10,3), columns=list('abc'))
df

          a         b         c
0  0.152265  0.231226  0.010121
1  0.820599  0.485738  0.814725
2  0.013131  0.712803  0.822552
3  0.146614  0.690517  0.812730
4  0.759070  0.130686  0.939445
5  0.290198  0.649799  0.043975
6  0.292529  0.594978  0.176902
7  0.420891  0.806042  0.551612
8  0.206806  0.226832  0.707989
9  0.997279  0.319295  0.212653

In [42]:
df.query('(a<b)') # query 方法查询

          a         b         c
0  0.152265  0.231226  0.010121
2  0.013131  0.712803  0.822552
3  0.146614  0.690517  0.812730
5  0.290198  0.649799  0.043975
6  0.292529  0.594978  0.176902
7  0.420891  0.806042  0.551612
8  0.206806  0.226832  0.707989

In [43]:
df.query('(a<b) & (b<c)') # query 方法中使用 & | 连接多个查询条件

          a         b         c
2  0.013131  0.712803  0.822552
3  0.146614  0.690517  0.812730
8  0.206806  0.226832  0.707989